<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carriere Unibo</title>

    <script>
        function readCookie() {
            var paragraphElement = document.getElementById("viewcookie");
            paragraphElement.innerHTML = document.cookie;
        }
    </script>
</head>
<body>
    <h1>Partita creata</h1>
    <p>Codice partita: <span th:text="${idpartita}">##</span></p>
    <p>Nome giocatore: <span th:text="${nomegiocatore}">##</span></p>
    <p id="viewcookie"></p>
    <button onclick="readCookie()">Leggi Cookie</button>
</body>
</html>